.custIcon {
    transform: rotate(180deg);
}

.mainDisplay {
    padding: .5em;
}

.cardImage{
    height: 40vh;
    width: 100vw;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
};
